.bandit
{
    position: relative;
    border: solid 1px red;
    height: 200px;
}

.tablo1, .tablo2, .tablo3
{
    position: absolute;
    top: 30px;
    overflow: hidden;
    width: 233px;
    height: 467px;
}
.tablo1
{
    left: -45px;
}
.tablo2
{
    left: 196px;
}
.tablo3
{
    left: 418px;
}
.tablo1img, .tablo2img, .tablo3img
{
    display: block;
    height: 7440px;
    margin-top: 0;
}
.disabled
{
    background: url('images/BTN_spin_d.png') no-repeat;
}
.anim
{
    -webkit-animation: move 1s ease-in-out .5s 2 alternate;
         -o-animation: move 1s ease-in-out .5s 2 alternate;
            animation: move 1s ease-in-out .5s 2 alternate;
}
.potter {
    background: url('images/potter.png') no-repeat;
    height: 150px;
    width: 150px;
    border: solid 1px red;
    display: block;
}

.potter.img0{
    background-position: 0 0;
}
.potter.img1{
    background-position: -146px 0;
}
.potter.img2{
    background-position: -292px 0;
}
.potter.img3{
    background-position: 0 -150px;
}
.potter.img4{
    background-position: -146px -150px;
}
.potter.img5{
    background-position: -292px -150px;
}